In [ ]:
import pandas as pd

In [ ]:
path = '/content/forest_fires.csv'
data = pd.read_csv(path)

In [ ]:
data.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

**INCIDENTS REPORTED FROM MARCH**

In [ ]:
data[data['month'] == "mar"].head()

    X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0   7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
3   8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4   8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0
16  5  5   mar  sat  91.7  35.8   80.8  7.8  15.1  27   5.4   0.0   0.0
18  6  4   mar  wed  89.2  27.9   70.8  6.3  15.9  35   4.0   0.0   0.0

In [ ]:
data.query("month == 'mar'").shape[0] #row count so 0

54


**On an average how many hectares of area was destroyed by the fires in the month of August?**

In [ ]:
data.query("month == 'aug'")['area'].mean()

12.489076086956521

**In the month of August, what was the week-day, when the area destroyed in the fires was maximum but the temperature was least**.

In [ ]:
data.query("month == 'aug' and day not in ('sat','sun')").sort_values(by = ['area','temp'], ascending =[False,True])

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain    area
415  8  6   aug  thu  94.8  222.4  698.6  13.9  27.5  27   4.9   0.0  746.28
420  8  8   aug  wed  91.7  191.4  635.9   7.8  26.2  36   4.5   0.0  185.76
457  1  4   aug  wed  91.7  191.4  635.9   7.8  19.9  50   4.0   0.0   82.75
504  4  3   aug  wed  94.5  139.4  689.1  20.0  28.9  29   4.9   0.0   49.59
488  4  4   aug  tue  95.1  141.3  605.8  17.7  19.4  71   7.6   0.0   46.70
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...     ...
248  8  6   aug  wed  93.1  157.3  666.7  13.5  28.7  28   2.7   0.0    0.00
490  4  4   aug  wed  95.1  141.3  605.8  17.7  28.7  33   4.0   0.0    0.00
421  2  4   aug  wed  95.2  217.7  690.0  18.0  30.8  19   4.5   0.0    0.00
491  4  4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0    0.00
492  1  3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0    0.00

[115 rows x 13 columns]

**In the month of August, what is the maximum value of ‘rain’ in the 7th decile of wind speed column**

In [ ]:
data['wind'].quantile(0.7)

4.9

In [ ]:
data.query("wind>=4.5 or wind<=4.9 and month=='aug'")['rain'].max()

6.4

**Maximum rainfall happened on:**

In [ ]:
data.groupby(["day"]).agg({'rain':'max'})

     rain
day
fri   1.4
mon   0.0
sat   0.0
sun   1.0
thu   0.0
tue   6.4
wed   0.2

In [ ]:
import os
import re
pattern = re.compile(r"\.csv$")